#wrap {
}

/* header */

.home-header {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 41px;
    justify-items: center;
}

#logo-area {
    margin-bottom: 21px;
}

#logo-text {
    font-weight: bold;
    font-size: 18px;
}

#logo {
    color: #2a54fb;
    font-weight: bold;
    font-size: 40px;
    margin-left: 5px;
}

#border-gradient {
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(135deg, #0033ff 40%, #3b11f8 100%);
}

#search-box {
    background-color: white;
    width: 708px;
    height: 60px;
    border-radius: 28px;
    align-content: center;
}

#search-group {
    display: flex;
    width: 676px;
    margin: 0 auto;
    align-items: center;
}

#search {
    margin-left: 10px;
    width: 616px;
    height: 40px;
    border: none;
    outline: 1px;
    font-size: 18px;
    font-weight: bold;
}

#search::placeholder {
    color: #e3e5e8;
    font-weight: normal;
}

/* main */
/* main - article */

.home-main {
    width: 1285px;
    margin: 0 auto;
}

#top-area {
    display: flex;
}

#news-list {
    width: 815px;
    height: 433px;
    border: solid 1px #e3e5e8;
    border-radius: 10px;
}

#side-area {
    margin-left: 5px;
}

#login-box {
    width: 460px;
    height: 184px;
    border: solid 1px #e3e5e8;
    border-radius: 10px;
    align-content: center;
}

#login-group {
    width: 416px;
    margin: 0 auto;
}

#login-button {
    display: block;
    width: 415px;
    height: 65px;
    background-color: #2a54fb;
    border-radius: 5px;
    border: none;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    align-content: center;
}

#login-button:active {
    background-color: #0f3cf0;
}

#login-button > a {
    width: 100%;
    height: 100%;
}

#auth-links {
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}

#auth-links > a,
#auth-links > span {
    color: #808080;
    margin-left: 10px;
}

#weather-box {
    width: 460px;
    height: 242px;
    margin-top: 5px;
    border: solid 1px #e3e5e8;
    border-radius: 10px;
}

/* main - nav */

.home-nav {
    margin-top: 20px;
}

#menu {
    height: 76px;
    border: solid 1px #e3e5e8;
    border-radius: 10px;
}

#post-area {
    margin-top: 20px;
}

#post-list {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    height: 100%;
    border-radius: 10px;
}

.post {
    position: relative;
    width: 235px;
    height: 276px;
    border-color: #e3e5e8;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #c2c2c2;
    margin-top: 5px;
}

.post img {
    width: 100%;
    height: 140px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.post-title {
    font-weight: bold;
}

.post-summary {
    margin-top: 3px;
    font-size: 12px;
    color: #646464;
}

.post-info {
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e3e5e8;
}

.post-author {
    font-size: 12px;
}

.post-date {
    margin-top: 3px;
    margin-left: 5px;
    font-size: 12px;
    color: #646464;
}

/* footer */
#information {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    background-color: #808080;
}
